@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,500;0,600;0,700;1,400&display=swap");

.home__main-content {
  max-width: 115rem;
  margin: 0 auto;

  border-top: 2px solid #02408b;

  padding: 2.4rem 3.2rem;
  font-family: roboto;
  color: #fff;
}

.main__heading-text {
  font-size: 4rem;
  font-family: raleway;
  font-weight: 700;
  color: #fff;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main__heading-text span {
  font-size: 2rem;
}

.main-content__body p {
  width: 50%;
  text-align: center;
}

.feature {
  color: #aee60b;
}

.main__heading-text span:first-child {
  line-height: 1.6;
}

.main-content__body {
  margin-top: 2.4rem;

  /*  */
  background: linear-gradient(
      293.66deg,
      rgba(2, 64, 139, 0.8) 0%,
      rgba(44, 140, 255, 0.8) 80.64%
    ),
    url(../img/LGO1\ 1.svg) no-repeat;
  background-size: cover;
  border-radius: 10px;

  min-height: 85vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2.4rem;
}

.sub__heading-text {
  font-size: 4rem;
  max-width: 70%;
  text-align: center;
}

/* choice section */
.choice__section {
  border: 2px solid #02408b;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  padding: 1.6rem 3.2rem;

  max-width: 70%;
  margin: 0 auto;
}

.choice__section h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1.6rem;
  color: #000;
}

.choice__list {
  display: flex;
  align-items: center;

  gap: 3.2rem;
}

.choice__list > * {
  flex: 1;
}

.choice__list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10%;
}

.choice__list-link img {
  width: 100%;
}

@media (max-width: 900px) {
  .sub__heading-text {
    font-size: 3.2rem;
    max-width: 80%;
    text-align: center;
  }

  .main-content__body p {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .sub__heading-text {
    font-size: 2.2rem;
  }

  .choice__section {
    max-width: 85%;
  }

  .home__main-content {
    padding: 2.4rem 0.8rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }

  .main-content__body p {
    width: 81%;
  }

  .sub__heading-text {
    max-width: 90%;
  }

  .choice__list {
    gap: 1.6rem;
  }

  .choice__section h3 {
    padding: 0.8rem;
  }

  .choice__section {
    padding: 1.6rem;
  }

  .main__heading-text span {
    font-size: 1.6rem;
  }

  .main__heading-text {
    font-size: 3.2rem;
  }
}
