@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700&display=swap");
:root {
  --color-primary: #02408b;
  --color-secondary: #6aa000;
  --color-btn-1: #02408b;
  --color-btn-2: #02408b;
  --color-btn-3: #02408b;
  --color-btn-4: #02408b;
  --color-btn-5: #02408b;
  --color-btn-6: #02408b;
  --color-btn-7: #02408b;
  --color-btn-8: #02408b;
  --color-btn-9: #02408b;
  --color-btn-10: #02408b;
  --color-btn-11: #02408b;
  --color-btn-12: #02408b;
  --color-btn-13: #02408b;
  --color-btn-14: #02408b;
  --color-btn-15: #02408b;
  --color-btn-16: #02408b;
  --color-btn-17: #02408b;
}

/* font-family: 'Playfair Display', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

html {
  font-size: 55.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  background-color: #fbfbfb;
}

/* heading text */
.heading-tertiary {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color-primary);
  letter-spacing: 0.1rem;
}

#title {
  background: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  /*height: 100vh;*/
  padding: 3rem;
}

.start-date {
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 1rem;
  letter-spacing: 0.8px;
  color: var(--color-primary);
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

/* navbar */
.my-navbar,
.my-nav-btn {
  margin-right: -1.1rem;
  margin-top: 1rem;
}

.nav-item a {
  font-size: 1.1rem;
  color: var(--color-primary) !important;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.nav-item:not(:last-child) {
  margin-right: 2rem;
}

/* sub navbar */
.sub-nav {
  align-items: center;
}

.logo {
  display: inline-block;
  background-color: var(--color-primary);
  padding: 1.2rem;
}

.logo-header {
  align-items: flex-start;
  text-transform: capitalize;
}

/* dropdown */
.dropdowns {
  display: none;
  justify-content: space-around;
  flex-basis: 50rem;
}

.my-btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  font-family: "Raleway", serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--color-primary);
}

.my-btn::after {
  display: none;
}

.heading-primary {
  flex-direction: column;
  align-items: center;
  margin: 9rem auto;
  font-family: "Raleway", sans-serif;
}

/* .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.heading-primary-main {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary);
  position: relative;
  font-family: "Playfair Display", serif;
}

.heading-prefix {
  font-size: 1.6rem;
  color: var(--color-secondary);
  font-weight: 700;
  position: absolute;
  bottom: -1rem;
  right: 0rem;
  /* display: block; */
}

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-secondary);
  letter-spacing: 0.3rem;
  padding: 1.5rem;
}

/* button */
.button {
  margin-top: -7rem;
}

/* dropdowns */

.primary-btn {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background: var(--color-primary);
  padding: 1rem 3rem;
  border-radius: 1.4rem;
  font-size: 1.6rem;
  color: #ecf0f1;
}

/* main */

.container {
  margin-right: 0;
  margin-left: 0;
}

#main-body {
  padding-top: 6rem;
  background-color: #fbfbfb;
}

.primary-description {
  font-size: 2.4rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #34495e;
  font-weight: 700;
}

.main-image-container {
  /* width: 80%;
  margin: 4rem auto 2rem auto; */
  width: 100%;
  margin: 0rem auto 2.5rem auto;
}

.main-img {
  width: 100%;
  display: inline-block;
}

/* college description */

.college-description {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.college-text-primary {
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 0;
}

.college-text-primary a {
  color: var(--color-primary);
}
.college-text-info {
  font-size: 1.2rem;
  font-weight: 400;
  color: #34495e;
  text-align: center;
}

.courses {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #34495e;
}

.actions {
  margin-top: 3rem;
  margin-bottom: 6.5rem;
  margin-top: 3rem;
  position: relative;
  z-index: 10;
}

.btn-3 {
  font-family: "Roboto-Slab", sans-serif;
  padding: 1rem 4rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0.2rem 2.1rem rgba(3, 76, 151, 0.25);
}

.btn-3:not(:last-child) {
  margin-right: 1.5rem;
}

/* side by side */
/* .side-by-side {
    padding: 6rem 3rem 3rem 3rem;
} */

.college-description-1 {
  align-items: flex-start;
  order: 2;
}

.courses-1 {
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.6rem;
  font-weight: 700;
}

.courses-all {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 600;
}

.sub-image-container {
  width: 85%;
  overflow: hidden;
}

.sub-img {
  width: 100%;
}

.image-order-2 {
  margin-left: 0rem;
}

.image-order-1 {
  margin-left: 0rem;
}
/* order */

.description-order {
  order: 2;
  align-items: flex-start;
}

.image-order {
  margin-left: 0;
}

.course {
  margin: 0 auto;
  /* width: 50%; */
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  color: #34495e;
}

#size-card {
  padding: 6rem 3rem 3rem 3rem;
}

/* testimonials */
#testimonials {
  padding: 6rem 3rem 3rem 3rem;
}

.section-title {
  font-family: "Roboto-Slab";
  text-transform: uppercase;
}

.mobile-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.more:link,
.more:active,
.more:visited {
  margin-top: 2rem;
  font-size: 1.2rem;
  /* font-size:1.5rem; */
  text-align: right;
  display: block;
  color: #808e9b;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.2rem;
}

.mycard {
  width: 90%;
  /* width: 85%; */
  background-color: #c4c4c4;
}

.img-container {
  width: 100%;
}

.img-content {
  width: 100%;
  display: inline-block;
}

.card-body {
  /* height for temporary remove when the content is added */
  max-height: 8rem;
  min-height: 14rem;
  /* min-height: 6rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* overflow: scroll; */
}

.spacing {
  padding-top: 1rem;
  /* padding-top: 5rem; */
  /* text-align: -webkit-right;
  text-align: -moz-right;
  text-align: -o-right;
} */
}

/* footer */

.fa-facebook {
  background: #eb2f06;
}

.circle-main {
  position: relative;
}

.social-links-link:link,
.social-links-link:visited,
.social-links-link:active {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  color: var(--color-secondary);
  border: 0.399rem solid var(--color-secondary);

  border-radius: 50%;
  position: relative;
}

.fa-youtube,
.fa-twitter,
.fa-instagram,
.fa-facebook-f {
  position: absolute;
  /* z-index: 1; */
  top: 50%;
  left: 50%;
  color: var(--color-secondary);
  transform: translate(-50%, -50%);
}

.social-links-all {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.insta-width {
  width: 3rem;
}

/* navbar-collapse */

.navbar-collapse {
  position: absolute;
  top: 5rem;
  right: 0px;
  background-color: #fff;
  padding: 1.6rem;
  z-index: 5;
}

/* 2college */

.position-two {
  position: relative;
}

.position-two__1 {
  margin-top: -10rem;
}
.colg-des {
  top: 5rem;
  position: absolute;
  /* left: 2rem; */
  /* bottom: 35rem; */
  width: 100%;
  /* width: 38rem; */
}

.colg-des h2 {
  text-align: center;
}

.size {
  font-size: 1.3rem;
  /* display: none; */
}

.college-image-action {
  /* margin-left: 22%; */
  margin-top: -6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.first-align {
  position: absolute;
  bottom: -1rem;
}

.colg-des-1 {
  right: 0;
  left: auto;
}

.img-1 {
  width: 100%;
}

.default-margin-top {
  margin-top: -9rem;
  overflow: hidden;
}

.default-margin-top a {
  position: relative;
}

/* static changes */
/* .default-margin-bottom {
    margin-bottom: 8rem;
}

.default-margin-bottom-1 {
    margin-bottom: 9rem;
}

.default-margin-bottom-2 {
    margin-bottom: 5rem;
}

.colg-des-2 {
    top: -9rem;
}

.img-container-2 {
    margin-top: -27%;
}

.tem-des {
    top: -2rem;
}
.third-container {
    margin-top: -12rem;
} */

/* end of static changes */

.background-button-1 {
  background-color: var(--color-btn-1);
}
.course-color-1 {
  color: var(--color-btn-1);
}

.background-button-2 {
  background-color: var(--color-btn-2);
}
.course-color-2 {
  color: var(--color-btn-2);
}

.background-button-3 {
  background-color: var(--color-btn-3);
}
.course-color-3 {
  color: var(--color-btn-3);
}

.background-button-4 {
  background-color: var(--color-btn-4);
}
.course-color-4 {
  color: var(--color-btn-4);
}

.background-button-5 {
  background-color: var(--color-btn-5);
}

.course-color-5 {
  color: var(--color-btn-5);
}

.background-button-6 {
  background-color: var(--color-btn-6);
}

.course-color-6 {
  color: var(--color-btn-6);
}

.background-button-7 {
  background-color: var(--color-btn-7);
}

.course-color-7 {
  color: var(--color-btn-7);
}

.background-button-8 {
  background-color: var(--color-btn-8);
}

.course-color-8 {
  color: var(--color-btn-8);
}

.background-button-9 {
  background-color: var(--color-btn-9);
}

.course-color-9 {
  color: var(--color-btn-9);
}

.background-button-10 {
  background-color: var(--color-btn-10);
}

.course-color-10 {
  color: var(--color-btn-10);
}

.background-button-11 {
  background-color: var(--color-btn-11);
}

.course-color-11 {
  color: var(--color-btn-11);
}

.background-button-12 {
  background-color: var(--color-btn-12);
}

.course-color-12 {
  color: var(--color-btn-12);
}

.background-button-13 {
  background-color: var(--color-btn-13);
}

.course-color-13 {
  color: var(--color-btn-13);
}

.background-button-14 {
  background-color: var(--color-btn-14);
}

.course-color-14 {
  color: var(--color-btn-14);
}

/* monthly-giveaway */

.monthly-giveaway {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.monthly-giveaway-tickets {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: #c4c4c4;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  color: #34495e;
  cursor: pointer;
  display: none;
}

.monthly-giveaway-tickets:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* end of monthly giveaway */
.college-text-info {
  display: none;
}

/* real footer */
.real-footer {
  background-color: var(--color-primary);
  color: #fff;
}

.real-footer__content-heading {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.real-footer__content-paragraph {
  font-weight: 600;
  line-height: 2;
}

.real-footer__content-comment {
  display: block;
  font-weight: normal;
  padding-top: 1.6rem;
}

.contact-number,
.contact-message {
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
}

.numbers {
  display: flex;
  flex-direction: column;
  margin-left: 1.6rem;
  margin-bottom: 0;
}

.email {
  margin-left: 1.6rem;
  margin-bottom: 0;
}
.contact-number .fas,
.contact-message .far {
  font-size: 2rem;
}

.contact-number p,
.contact-message p {
  font-size: 1.8rem;
  font-weight: 500;
}

.margin-child {
  margin-bottom: 2rem;
}
/* end of real footer */

/* utility margin */

.utility-margin {
  margin-top: 10rem;
  /* margin-bottom: 0rem; */
}

.utility-margin-top-course {
  margin-top: 2rem;
}
.utility-margin-top-course-1 {
  margin-top: -6rem;
}

.mobile-course {
  overflow-x: scroll;
}

.mobile-first {
  margin-left: 27rem;
}

.mobile-course span {
  margin-right: 2rem;
}

.mobile-course::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: #f1f1f1;
}
.mobile-course::-webkit-scrollbar-thumb:horizontal {
  background: #02408b;
  border-radius: 10px;
}
.mobile-banner {
  display: block;
}
.desktop-banner {
  display: none;
}

.main-img,
.img-hover {
  transition: all 0.3s;
}

.main-img:hover,
.img-hover:hover {
  transform: scale(1.1);
}

/* sponsers */
.sponsers {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  /* width: 50vw; */
  height: 33vh;
}

.sponser {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.sponser {
  margin-right: 3rem;
}

.sponser-name {
  text-align: center;
  color: #032b5c;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
}

.sponser-2 {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 1.5rem;
}

.mobile-margin-prabhu {
  margin-right: 0;
}

.sponser .img-fluid {
  max-width: 67%;
}

/*search box  */
.searchbox {
  text-align: center;
  margin-bottom: 5rem;
}

.searchbox .fas {
  position: relative;
  margin-right: -4.3rem;
  font-size: 2rem;
  /* font-size: 2.5rem; */
  color: #02408b;
}

.searchbox-input {
  padding: 0.4rem;
  border-radius: 5rem;
  width: 100%;
  border: none;
  font-size: 2.5rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
  font-weight: 700;
  padding-left: 6rem;
  transition: box-shadow 0.2s;
}

.searchbox-input:focus {
  outline: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.title-form {
  /* font-size: 2rem; */
  color: #02408b;
  text-align: center;
  /* margin-bottom: 3rem; */
}

hr {
  border: 2px solid var(--color-primary);
}
@media (max-width: 32rem) {
  html {
    font-size: 50%;
  }
  /* #title {
        height: 65vh;
  } */

  .heading-primary-main {
    font-size: 3.7rem;
  }

  .heading-secondary {
    font-size: 1.6rem;
  }
  .heading-prefix {
    font-size: 1.2rem;
    bottom: -0.6rem;
    right: 0rem;
  }

  .dropdowns {
    flex-direction: column;
  }

  .primary-description {
    font-size: 2rem;
  }

  .college-text-primary {
    font-size: 2rem;
  }

  .btn-3 {
    padding: 0.8rem 2rem;
    font-size: 1.3rem;
  }

  .actions {
    display: flex;
  }

  .align-mobile {
    justify-content: center;
  }

  .mobile-size {
    font-size: 3rem;
  }

  /* .static-img-placement {
        max-width: 100%;
    max-height: 100%;
  } */
}

@media all and (max-width: 700px) and (min-width: 420px) {
  /* .utility-margin {
        margin-bottom: -15rem;
    }
    
    .utility-margin-top-course {
        margin-top: -13rem;
    } */
  .utility-margin-top-course-1 {
    margin-top: -9rem;
  }

  .college-text-3 {
    margin-bottom: -13rem;
  }

  .mobile-first {
    margin-left: 15rem;
  }
}
@media all and (max-width: 420px) and (min-width: 350px) {
  /* .utility-margin {
        margin-bottom: -12rem;
    }

    .utility-margin-top-course {
        margin-top: -10rem;
    } */
  .utility-margin-top-course-1 {
    margin-top: -8rem;
  }

  .mobile-first {
    margin-left: 20rem;
  }
}

@media (min-width: 28rem) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }

  .utility-margin-top-course-1 {
    margin-top: -8rem;
  }

  .college-text-3 {
    margin-bottom: -14rem;
  }

  .sponsers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 35vh;
  }

  /* 
    .sponser {
        margin-right: rem;
    } */

  .sponser-2 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 1.5rem;
  }

  .button {
    margin-top: -3rem;
  }
  .sponser-secondItem {
    margin-top: -1.8rem;
  }

  .sponser .img-fluid {
    max-width: 100%;
  }

  .mobile-margin-prabhu {
    margin-right: 3rem;
  }
}

@media (min-width: 40rem) {
  html {
    font-size: 58.5%;
  }

  /* #title {
        height: 85vh;
    } */

  .heading-primary {
    margin: 3.5rem auto;
  }

  .heading-primary-main {
    font-size: 6rem;
  }

  .heading-secondary {
    font-size: 2.6rem;
  }
  .heading-prefix {
    font-size: 1.5rem;
    bottom: -0.4rem;
    right: 1rem;
  }

  #main-body {
    padding: 6rem 3rem 3rem 3rem;
    overflow: hidden;
  }

  .college-text-primary {
    font-size: 2.2rem;
  }

  .primary-description {
    font-size: 2.6rem;
  }

  .college-text-info {
    font-size: 1.6rem;
  }

  .courses {
    width: 40%;
  }

  .sub-img {
    width: 65rem;
    height: 55rem;
  }

  .image-order-2 {
    margin-left: -9rem;
  }

  .image-order-1 {
    margin-left: -9rem;
  }
  /* order */

  .cllg-des {
    margin-top: -6rem;
  }
  .image-order {
    margin-left: auto;
  }

  .actions {
    margin-top: 3rem;
  }

  .gutter-bottom:not(:last-child) {
    margin-bottom: 3rem;
  }

  .descrease {
    margin-bottom: -7rem;
  }

  .card-body {
    min-height: 6rem;
  }

  /* .side-by-side {
        margin-top: -10rem;
    } */

  .default-margin-top {
    margin-top: -11rem;
  }

  /* recent changes */
  .static-img-placement {
    max-width: 80%;
    max-height: 80%;
  }

  .img-1 {
    width: 100%;
  }

  .footer-container {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-around;
  }

  .real-footer__content {
    width: 80%;
  }

  /* .utility-margin {
        margin-bottom: -16rem;
    }
    
    .utility-margin-top-course {
        margin-top: -13rem;
    } */

  .college-text-3 {
    margin-bottom: -14rem;
  }

  .mobile-first {
    margin-left: 10rem;
  }

  .searchbox-input {
    padding: 1rem;
    padding-left: 6rem;
    width: 80%;
  }

  .searchbox .fas {
    font-size: 2.5rem;
  }
}

@media (min-width: 48rem) {
  html {
    font-size: 62.5%;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }

  .heading-primary {
    margin: 6.5rem auto;
  }

  .heading-primary-main {
    font-size: 8rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
  }
  .heading-prefix {
    right: 0rem;
  }

  #main-body {
    padding: 6rem 3rem 3rem 3rem;
  }

  .college-text-primary {
    font-size: 3.2rem;
  }

  .college-text-2 {
    font-size: 2.2rem;
  }

  .primary-description {
    font-size: 3.4rem;
  }

  .courses {
    width: 100%;
  }

  .actions {
    margin-top: 3rem;
  }

  .gutter-bottom:not(:last-child) {
    margin-bottom: 5rem;
  }

  /* .side-by-side {
        padding-top: 8rem;
    } */

  .remove-break br {
    display: none;
  }

  .main-image-container {
    width: 75%;
    margin: 0rem auto 2.5rem auto;
  }

  .courses span {
    font-size: 3rem;
  }

  .real-footer__content-heading {
    font-size: 3.5rem;
  }

  .numbers {
    flex-direction: row;
  }

  .numbers span:not(:last-child) {
    margin-right: 0.5rem;
  }

  .mobile-footer-links {
    width: 100%;
  }

  /* .utility-margin {
        margin-bottom: -19rem;
    }

    .utility-margin-top-course {
        margin-top: -15rem;
    } */

  .utility-margin-top-course-1 {
    margin-top: -12rem;
  }

  .college-text-3 {
    margin-bottom: -17.5rem;
  }

  .mobile-first {
    margin-left: 0rem;
  }
  .mobile-banner {
    display: none;
  }

  .desktop-banner {
    display: block;
  }
}

@media (min-width: 992px) {
  /* .utility-margin {
        margin-bottom: -12rem;
    }

    .utility-margin-top-course {
        margin-top: -9rem;
    } */

  .utility-margin-top-course-1 {
    margin-top: -7rem;
  }

  .mobile-first {
    margin-left: 17rem;
  }

  .searchbox-input {
    width: 60%;
  }
}

@media (min-width: 62rem) {
  .dropdowns {
    display: flex;
  }

  .dropdown-items {
    display: none;
  }

  .navbar-collapse {
    position: static;
    background-color: transparent;
  }

  .nav-item a {
    color: var(--color-primary) !important;
  }

  .default-margin-top {
    margin-top: -11rem;
  }

  .default-margin-bottom {
    margin-bottom: 7.5rem !important;
  }
}
@media (min-width: 63rem) {
  .heading-primary-main {
    font-size: 9rem;
  }

  .heading-secondary {
    font-size: 2.6rem;
  }
  .heading-prefix {
    font-size: 2rem;
    bottom: 0rem;
    right: 1rem;
  }

  .main-image-container {
    /* margin: -10rem auto -8rem auto; */
  }

  .primary-description {
    font-size: 4.1rem;
  }

  .college-text-info {
    font-size: 1.6rem;
  }

  /*.courses {*/
  /*    width: 40%;*/
  /*}*/

  .card-body {
    min-height: 6rem;
  }

  .btn-3 {
    padding: 1rem 3rem;
  }

  .remove-break br {
    display: block;
  }
}

@media (min-width: 75rem) {
  .default-margin-bottom {
    margin-bottom: 7.5rem !important;
  }

  .default-margin-bottom-1 {
    margin-bottom: 20rem;
  }

  .mobile-first {
    margin-left: 4rem;
  }
}
